doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Dragonfly
    link(href='lib.css', rel='stylesheet')
    link(href='app.css', rel='stylesheet')
  body(ng-app='dragonfly', ng-controller='MainController')
    .background
    .dim
    main.main.container
      .row
        .col-sm-4.col-sm-offset-4.text-center
          img(src='img/rockstart.png', class='img-responsive')
      .row
        .col-sm-6.col-sm-offset-3.text-center
          h1.h4 Dragonfly

          form(autocomplete='off')
            .form-group
              input.form-control.input-lg(type='text', name='search', placeholder='Search a video', autofocus, ng-model='searchQuery')

      a.media(href='#' ng-repeat='video in videos' ng-click='play(video)' class='video')
        .pull-left
          img.media-object(ng-src='{{ video.thumbnail }}')
        .media-body
          h4.media-heading {{ video.name }}
          div {{ video.description }}
    script(src='lib.js')
    script(src='app.js')
